[submodule "cocos2d"]
	path = cocos2d
	url = https://github.com/cocos2d/cocos2d-x
[submodule "Classes/SneakyInput"]
	path = Classes/SneakyInput
	url = https://github.com/yuzoh/SneakyInput-Cocos2dx-3.x
